[user]
	email = 150845605+Manlosmaker@users.noreply.github.com
	name = Manlosmaker
	signingkey = /home/manlos/.ssh/id_rsa
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBrach = main
[gpg "ssh"]
	program = /usr/bin/ssh-keygen
	allowedSignersFile = ~/.config/git/allowed_signers
