window {background-color:#363732; color: #DCE1E9;border-radius:5px}

#outer-box {border:none;}

#input {background-color:#363732; color: #DCE1E9; border:none;}
#scroll {border:none;}

#inner-box {border:none}

#entry {border:none;}

#text {border:none;}
#img


