* {
  min-height: 0;
  min-width: 0;
  font-family: Quantico;
  font-size: 14px; 
  padding: 0;
  margin: 0;
  border: none;
}

window#waybar {
    background: rgba(18, 23, 38, 0);
  padding: 0;
 }

window > box {
    background: rgba(18, 23, 38, 0);
    padding: 0;
    margin: 0;
    color: #14537D;
}

#workspaces {
   margin-left: 20px;

}
#workspaces button {
  padding: 0.1rem;
  margin: 0.1rem;
  border-radius: 6px;
  /* background-color: #181825; */
  color: #14537D;
    min-width: 20px;  
}

#workspaces button:hover {
  color: #F2F2F2;
  background-color: #cdd6f4;
}

#workspaces button.active {
  color: #6FAFCF;
  
}

#workspaces button.urgent {
  background-color: #1e1e2e;
  color: #f38ba8;
}




#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#custom-music,
#custom-vpn,
#tray,
#network,
#memory,
#window,
#battery,
#idle_inhibitor,
#mpris
{ 
  padding: 0.0rem 0.0rem;
  margin: 0.0rem 0.4rem;
  border-radius: 6px;
  /* background-color: #181825; */
}

#idle_inhibitor {
 padding: 0.0rem 0.0rem;
 margin: 0.0rem 0.4rem;
 margin-right:20px; 
 border-radius: 6px;

}
#battery.warning {
 background-color:#1e1e2e
}
#battery.urgent {
  background-color: #FF1111
}
#mpris.playing {
  color: #14537D;
}

#mpris.paused {
  color: #0f3b5b;
}



window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  background-color: #181825;
  /*border: 2px solid #89b4fa;*/

}

